html {
  height: 100%;
}

body {
  height: 100%;
}

.div_to_body {
  height: 90%;
}

.ivprog_visual_panel {
	height: 91%;
	overflow: auto;
	overflow-x: auto;

}

.ivprog_textual_code {
	width: 100%;
	min-height: 500px;
	resize: none;
	background-color: white;
}

.main_title h2 {
	margin: 0;
}
.main_title span {
	font-size: 80%;
	font-style: italic;
}
.ivprog_format_info {
	cursor: pointer;
	margin-left: 10px;
}
.ivprog_visual_panel {
	border: 2px solid #A0A0A0;
	background-color: red;
}

.ui.container.main_title {
	float: left;
	width: 200px;
}
.ui.container.content_margin {
	margin-top: 10px;
}
.content_margin .content_sub_margin {
	display: inline; 
	margin-left: 15%; 
	margin-top: 50px;
}
.ui.icon.menu.center.aligned.container {
	width: 438px;
	margin-top: -10px;
}

.ghost {
  opacity: .5;
  background: #C8EBFB;
}

/* editor visual: **/

.function_signature_div,
.function_close_div {
	font-weight: bold;
	color: black;
}
.ui.selection.data_types_dropdown.visible.dropdown>.text:not(.default),
.ui.selection.parameter_data_types_dropdown.visible.dropdown>.text:not(.default) {
	font-weight: bold;
}
.ui.selection.data_types_dropdown.dropdown,
.ui.selection.parameter_data_types_dropdown.dropdown {
	padding-bottom: 0;
}

.ui.fluid.dropdown.data_types_dropdown {
	display: inline;
	width: 150px;
	border: none;
	background: none;
}

.ui.fluid.dropdown.parameter_data_types_dropdown {
	display: inline;
	border: none;
	background: none;
}

.ui.fluid.dropdown.data_types_dropdown.selection .dropdown.icon,
.ui.fluid.dropdown.parameter_data_types_dropdown.selection .dropdown.icon {
	font-size: 1em;
}

.function_close_div {
	margin-left: 20px;
}

.command_div {
	margin-left: 16px;
}

.function_draggable_div {
	width: 16px;
	float: left;
}

.function_draggable_div img {
	margin-bottom: -4px;
	margin-left: -2px;
}

.input_name_function{
	min-width: 50px;
}

.text_attr_receives {
	margin-left: 20px;
	margin-right: 20px;
}

.menu_operations {
	margin-left: 10px;
	margin-right: 10px;
}

.function_name_div, .function_return_div, .function_name_parameter, .created_div_valor_var, .function_return, .var_value_menu_div, .variable_rendered, .variable_rendered div, .var_attributed,
.expression_operand_1, .expression_operand_2, .operator, .div_comment_text, .value_rendered, .parameters_function_called, .parameters_function_called div {
	display: inline;
}

.div_comment_text {
	min-width: 100px;
	font-style: italic;
}

.enable_edit_name_function, .enable_edit_name_parameter, .add_parameter, .remove_parameter, .add_parameter_button, .remove_variable {
	cursor: pointer;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus,
[contenteditable="true"]:hover {
	border: 1px dashed #000;
	background: white;
}

.ui.segment.ivprog_visual_panel {
	padding: 8px;
	background-image: url('../img/background-panel.png');
}

.ui.segment.function_div {
	padding: 5px;
	margin: 0;
	margin-bottom: 5px;
}

.ui.button.add_function_button,
.ui.button.add_variable_button,
.ui.button.add_command_button {
	padding: 8px;
	margin: 0;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

.glyphicon.glyphicon-move {
	float: left;
}

.remove_function_button, .minimize_function_button, .add_var_top_button, .add_command_top_button {
	float: right;
}

.ui.icon.button.remove_function_button,
.ui.icon.button.minimize_function_button {
	background: none;
	padding: 0;
	margin-top: 12px;
}

.ui.segment.variables_list_div,
.ui.segment.commands_list_div {
	padding: 5px;
	margin: 0;
	margin-left: 30px;
	width: calc(100% - 30px);
	background-color: #f9f9f9;
	min-height: 30px;
}

.ui.segment.variables_list_div {
	margin-top: 5px;
}

.ui.labeled.icon.button.add_variable_button,
.ui.labeled.icon.button.add_command_button {
	
}

.program_signature {
	font-weight: bold;
	margin: -3px 0 10px -5px;
}

.program_final {
	font-weight: bold;
	margin: 5px 0 0 -5px;
}

.parameters_list {
	display: inline;
}

.function_return, .parameter_type {
	margin-left: 10px;
    margin-right: 15px;
}

.function_return .dropdown .icon, .parameter_type .dropdown .icon {
	margin-left: 6px;
}
.tabela_var {
	display: inline;
}
.buttons_manage_columns i, .tr_manage_lines i {
	cursor: pointer;
	display: inline;
}
div.buttons_manage_columns {
	display: inline;
}
.tr_manage_lines {
	text-align: center;
}
.div_valor_var {
	display: inline;
}
.ui.comment span {
	font-style: italic;
}
.ui.comment, .ui.reader, .ui.writer, .ui.attribution, .ui.iftrue, .ui.repeatNtimes, .ui.whiletrue, .ui.dowhiletrue, .ui.switch, .ui.functioncall {
	border: 1px solid gray;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	background: #f9f9f9;
}

.add_var_top_button {
	padding-right: 50px;
}

.function_signature_div {
	min-height: 40px;
	padding-top: 8px;
}

.move_function {
	margin-top: 9px;
}

.div_start_minimize_v {
	float: right;
	width: 22px; 
	height: 10px;
}

.global_var {
	margin-bottom: 10px;
}

.list_globals, .global_const {
	display: inline;
	cursor: pointer;
}

.created_element {
	position: absolute;
	width: 50%;
	z-index: 99999999;
	opacity: .8;
	cursor: move;
}

.width-dynamic {
	min-width: 100px;
}

.ui.icon.plus.square.outline.icon_add_item_to_writer {
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
}

.button_remove_command {
	float: right;
	cursor: pointer;
}
