<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="css/ivprog-visual-1.0.css">
  <link rel="stylesheet" type="text/css" href="css/ivprog-term.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.min.js" integrity="sha256-x1fC6BXl6BwnUhfQqqqC0Fd/n12wH+u8u9va6+E7xaA=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/jquery.json-editor.min.js"></script>
</head>
<body>
    <div style="padding-top: 50px;content: ''"></div>
  <div class="ui container grid">
    
    <div class="four wide column">
      <div class="row">
        <textarea class="ui form control" name="input" id="input" cols="100" rows="30">
            programa {

              const real C = 5.5
             
              funcao inicio() {

               inteiro a = 8
               se (a * C > 80) {
                a = 0
               } senao {
                 a = -1
               }
              }
             }
        </textarea>
      </div>
      <div class="row">
          <button class="ui button" id="btn">Run</button>
      </div>
    </div>
    <div class="six wide column">
      <div id="console">
      </div>
    </div>
    <div class="six wide column">
        <div style="overflow-y: scroll; height: 70%;">
            <pre id="json-renderer" class="ui right floated"></pre>
        </div>
    </div>
  </div>
  
  
</body>
<script>
  ( function () {
    ivprogCore.runner();
  })();
</script>
</html>